@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");

html,
body {
	width: 100vw;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
	background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(
		rgb(134, 239, 172),
		rgb(59, 130, 246),
		rgb(147, 51, 234)
	);
}

/* .bg-tech-grid {
	background-image:
	  radial-gradient(circle at 1px 1px, rgba(255,255,255,0.05) 1px, transparent 0),
	  radial-gradient(circle at 1px 1px, rgba(255,255,255,0.05) 1px, transparent 0);
	background-size: 40px 40px, 40px 40px;
	background-position: 0 0, 20px 20px;
	background-color: #0a192f;
} */

.bg-blueprint {
	background: linear-gradient(180deg, #071a2f, #0b1f3a);
	background-image:
	  linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
	  linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
	background-size: 50px 50px;
}
  

@import "tailwindcss/base";

@layer base {
	html,
	a,
	*,
	.mantine-Text-root {
		@apply text-slate-300;
	}
	body {
		@apply bg-primary;
	}
	* {
		@apply transition-all;
	}
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
